.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #303030;
    color: white;
    // font-size: 18px;
    // margin-top: 70px;
    padding: 10px;
}

@media (max-width : 567px){
    .Footer {
        // margin-top: 40px;
    }
}